* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

#page-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: Helvetica, Arial, sans-serif;
}

button {
  background-color: #3882F6;
  border: none;
  border-radius: 7px;
  color: white;
  font-weight: bold;
  height: 30px;
  width: 100px;
}

#nav-container,
#hero-container,
#action-box {
  flex-grow: 1;
  max-width: 1100px;
}

nav,
#hero,
#quote,
#call-to-action {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

nav,
#hero,
footer {
  background-color: #1F2937;
  color: white;
}

#nav-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

#nav-links-container {
  column-gap: 20px;
  display: flex;
}

nav a {
  color: white;
  text-decoration: none;
}

#hero {
  padding-bottom: 150px;
  padding-top: 150px;
}

#hero-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

#hero-description {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  row-gap: 6px;
}

#hero-description p:nth-child(1) {
  font-size: 48px;
  font-weight: bold;
}

#hero-description p:nth-child(2) {
  font-size: 18px;
}

#showcase {
  display: flex;
  flex-direction: column;
  padding: 30px 0 150px 0;
  text-align: center;
}

#showcase h2 {
  font-size: 36px;
}

#showcase-images-container {
  display: flex;
  max-width: 800px;
}

#quote {
  background-color: #E5E7EB;
  padding: 150px 0 120px;
}

#quote-container {
  max-width: 700px;
}

#quote-container p:nth-child(1) {
  font-size: 36px;
  font-style: italic;
}

#call-to-action {
  height: 400px;
}

#action-box {
  background-color: #3882F6;
  height: 200px;
}

footer {
  align-items: center;
  display: flex;
  height: 72px;
  justify-content: center;
  width: 100%;
}
